$color1: #171717;
$color2: green;
$color3: desaturate(lighten($color1, 10), 10);

$font: "Roboto Mono", monospace;
$font-weight-regular: 400;
$font-weight-bold: 700;

$border: 1px solid $color2;

*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body
{
    background-color: $color1;
    color: $color2;
    font-family: $font;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

h1
{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: $font-weight-bold;
}

#input-area
{
    margin-top: 10px;

    p
    {
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: $font-weight-bold;
    }

    label
    {
        font-size: 14px;
        letter-spacing: 1px;
    }

    p, label
    {
        white-space: pre;
    }

    textarea
    {
        width: 100%;
        outline: none;
        padding: 10px;
        min-height: 100px;
        resize: none;
        white-space: pre;
        overflow: scroll;
        margin-top: 15px;
        border: $border;
        background-color: $color1;
        color: $color2;
        letter-spacing: 1px;
    }

    #save-button
    {
        background-color: transparent;
        color: $color2;
        padding: 5px 20px;
        text-transform: inherit;
        font-family: inherit;
        font-size: 15px;
        font-weight: $font-weight-bold;
        letter-spacing: 2px;
        border-radius: 30px;
        border: $border;
        margin: 15px 0 10px 0;

        &:hover
        {
            background-color: $color2;
            color: $color1;
        }
    }
}

h1, #input-area
{
    border: $border;
    padding: 10px 20px;
}